@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
.section-title {
    color: #cb1369;
    font-size: 30px;
    font-weight: 700;
    background-color: white;
    text-align: center;
    padding-top: 40px;
}
.desc{
    text-align: center;
    padding-top: 10px;
}
.dega{
padding-left: 212px;
}
.Booking {
    padding: 1.5rem 5%;
    background: color #f1f1f1;;
}

.form {
    display:flex;
    flex-direction: column;
    margin-top: 1rem;
}
form.name{
    border-radius: 20px;
}
input {
    margin-bottom: 1.0rem;
    height: 1rem;
    padding: 15px;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
}
.form select{
padding-top: 15px;
display: flex;
border-radius: 20px;
margin-bottom: 20px;
text-align: center;
margin: 20px;
}

.permit {
    display: flex;
    align-items: center;
}

.permit input {
    margin: 0;
    margin-right: 1rem;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.submit-btn {
    height: 50px;
    width: 1000px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(135deg, rgb(97, 100, 177) 0%, rgb(28, 60, 69) 100%);
    color: rgb(249, 252, 254);
    font-size: 20px;
    border: none;
}
